*{
	margin:0px;
	padding:0px;
}
.nav1{
	
	width:100%;
	height:22px;
	background:#212121;
	margin-top:-3px;
	line-height: 22px;

}
.n1{
	color: white;
    text-align: center;
    font-size: 14px;
    font-family: monospace;
    margin-top: 3px;
}
.nav2{

	
	height:76px;
	width:100%;
	background: #ffffff;
}
.imgn2{
	width: 154px;
    height: 46px;
    margin-left: 164px;
    margin-top: 15px;

}
.menu li{
	display:inline;
	text-align:center;
	text-decoration:none;
	padding-left: 12px
}
.menu ul{
	text-align: center;
    margin-top: -36px;
    margin-left: 432px;
}
.menu ul li a{
	text-decoration: none;
    color: #221928;
    font-weight: bold;
    font-size: 17px;
    font-family: monospace;

}
.a{
	    padding-left: 8px;
	    font-size: 14px;
	    margin-left: 4px;
	    cursor: pointer;
}
.a:hover{
	color:brown;
}
.b{
	padding-left: 34px;
	cursor:pointer;
}
.b:hover{
	color:brown;
}
.p1{
	color: #bc363f;
    margin-top: 104px;
    margin-left: 168px;
    font-family: sans-serif;
    font-size: 15px;
}
.p2{
	color: #303030;
    font-weight: bold;
    margin-left: 166px;
    margin-top: 40px;
    font-size: 28px;
    font-family: sans-serif;
}
.container{
	
	height: 388px;
    width: 392px;
	display:inline-block;
	margin:10px;
}

.container2{
	
    height: 388px;
    width: 392px;
    /* margin: 100px; */
    margin-top: 90px;
    margin-left: 143px;
}
.img{
	width:100%;
	height:100%;

}
.g{
	color:#626b72;
	position:absolute;
	font-size: 17px;
    font-family: sans-serif;
    margin-top: 10px;
}
.star{
	color:#ffd200;
    /* margin-left: 2px; */
    top: 35px;
    left: -161px;
	/*position:relative;*/
	position: relative;
    /* margin-left: 2px; */
    top: 35px;
    left: -161px;
}
.g1{
	color:#626b72;
	position: absolute;
    margin-left: 76px;
    margin-top: 18px;
    font-size: 15px;
    font-family: sans-serif;
}
.g2{
	position: absolute;
    /* top: 10px; */
    margin-top: 42px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
}
.star1{
	color: #ffd200;
    /* margin-left: 18px; */
    top: 35px;
    /* left: -161px; */
    /* position: relative; */
    position: relative;
    /* margin-left: 2px; */
    top: 35px;
    left: -1px;
}
.footer{
	
	width:100%;
	height:500px;
	margin-top:150px;
}
.f{
	color: #4c5454;
    font-weight: 600;
    font-size: 17px;
    font-family: sans-serif;
    margin-left: 150px;
    margin-top: 38px;
}
.foo ul li a{
	text-decoration: none;
    margin-left: 150px;
    color: #615e5b;
    font-family: sans-serif;
    font-size: 14px;

}
.foo ul li{
	margin-top:25px;
	
}
.foo ul{
	color:#615e5b;
}
.f1{
	
	color: #4c5454;
    font-weight: 600;
    font-size: 17px;
    font-family: sans-serif;
    margin-left: 463px;
    margin-top: -194px;
}
.f2{
	color: #4c5454;
	font-family: sans-serif;
    margin-left: 465px;
    margin-top: 21px;
    font-size: 14px;
}
.f3{
	color: #990000;
	margin-left: 465px;
    margin-top: 6px;
    font-size: 14px;
    font-family: sans-serif;
}
.f4{
	color: #990000;
	margin-left: 616px;
    margin-top: -16px;
    font-size: 14px;
    font-family: sans-serif;
}
.c{
	color:#404040;
	position: relative;
    left: 453px;
    top: 18px;
    font-size: 20px;
    padding: 12px;
}
.c:hover{
	color:brown;
}
.f5{
	color: #9e937b;
	margin-top: 159px;
    font-size: 12px;
    font-family: sans-serif;

}